{% extends 'admin/layout/authentication.html.twig' %}

{% block browser_title %}{{ 'login.title'|trans }}{% endblock browser_title %}

{% block body %}
    <form class="card card-md form-full-width" method="post">
        <div class="card-body">
            <h2 class="mb-4 text-center">{{ 'login.title'|trans }}</h2>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="inputEmailAddress">{{ 'login.email_address.label'|trans }}</label>
                <input type="email" placeholder="{{ 'login.email_address.placeholder'|trans }}" name="emailAddress" id="inputEmailAddress" class="form-control" required autofocus value="{{ last_username }}">
            </div>
            <div class="mb-2">
                <label class="form-label" for="inputPassword">{{ 'login.password.label'|trans }}</label>
                <input type="password" placeholder="{{ 'login.password.placeholder'|trans }}" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mb-2">
                <label class="form-check">
                    <input type="checkbox" class="form-check-input" name="_remember_me">
                    <span class="form-check-label">{{ 'login.remember_me'|trans }}</span>
                </label>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">{{ 'login.sign_in'|trans }}</button>
            </div>
        </div>
    </form>
{% endblock body %}
