{% extends 'admin/layout/default.html.twig' %}

{% block page_title %}{% if form is defined %}{{ 'profile.title'|trans }}{% else %}{{ 'profile.user_profile'|trans({'%name%': user.fullName}) }}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body p-4 py-5 text-center">
                    <span class="avatar avatar-xl mb-4">
                        {{- user.firstName|first }}{{ user.lastName|first -}}
                    </span>
                    <h3 class="mb-0">{{ user.fullName }}</h3>
                    <p><a href="mailto:{{ user.emailAddress }}">{{ user.emailAddress }}</a></p>
                    {% if user.lastActiveAt %}
                        <p class="text-muted small mb-1">{{ 'profile.last_active_at'|trans }}: {{ user.lastActiveAt|format_datetime('medium', 'short') }}</p>
                    {% endif %}
                    <div class="small text-muted">
                        {% if user.isActive %}
                            <span class="status-icon bg-success"></span> {{ 'admin_user.online'|trans }}
                        {% else %}
                            <span class="status-icon bg-gray-dark-lt"></span> {{ 'admin_user.offline'|trans }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if form is defined %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'profile.edit'|trans }}</h3>
                    </div>
                    {{ form_start(form) }}
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block">Save</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-body pb-0">
                    <h3 class="card-title">{{ 'admin_user.log.title'|trans }}</h3>
                </div>
                <div id="chart-user-logs"></div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter table-striped">
                        <thead>
                            <tr>
                                <th>{{ 'admin_user.log.subject'|trans }}</th>
                                <th>{{ 'admin_user.log.action'|trans }}</th>
                                <th>{{ 'admin_user.log.date'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td-truncate">
                                    <div class="text-truncate" data-toggle="tooltip" title="TODO: Implement activity">TODO: Implement activity</div>
                                </td>
                                <td class="text-nowrap text-muted">Edit</td>
                                <td class="text-nowrap text-muted">11 Nov 2020, 11:11</td>
                            </tr>
                            <tr>
                                <td class="td-truncate">
                                    <div class="text-truncate" data-toggle="tooltip" title="TODO: Implement activity">TODO: Implement activity</div>
                                </td>
                                <td class="text-nowrap text-muted">Edit</td>
                                <td class="text-nowrap text-muted">11 Nov 2020, 11:11</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Load more...</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
