{% extends 'admin/layout/default.html.twig' %}

{% block page_title %}{% if form is defined %}{{ 'profile.title'|trans }}{% else %}{{ 'profile.user_profile'|trans({'%name%': user.fullName}) }}{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body p-4 py-5 text-center">
                    <span class="avatar avatar-xl mb-4">
                        {{- user.firstName|first }}{{ user.lastName|first -}}
                    </span>
                    <h3 class="mb-0">{{ user.fullName }}</h3>
                    <p><a href="mailto:{{ user.emailAddress }}">{{ user.emailAddress }}</a></p>
                    {% if user.lastActiveAt %}
                        <p class="text-muted small mb-1">{{ 'profile.last_active_at'|trans }}: {{ user.lastActiveAt|format_datetime('medium', 'short') }}</p>
                    {% endif %}
                    <div class="small text-muted">
                        {% if user.isActive %}
                            <span class="status-icon bg-green"></span> {{ 'admin_user.online'|trans }}
                        {% else %}
                            <span class="status-icon bg-gray-dark-lt"></span> {{ 'admin_user.offline'|trans }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if form is defined %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'profile.edit'|trans }}</h3>
                    </div>
                    {{ form_start(form) }}
                        <div class="card-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block">{{ 'btn.save'|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-body pb-0">
                    <h3 class="card-title">{{ 'admin_user.log.title'|trans }}</h3>
                </div>
                {% if action_log_report.actionLogs|length > 0 %}
                    <div id="chart-action-logs"
                         data-height="130"
                         data-labels="{{ action_log_report.barChart.labels|json_encode }}"
                         data-create-label="{{ 'admin_user.log.created'|trans }}"
                         data-create-bar="{{ action_log_report.barChart.bars[0]|json_encode }}"
                         data-edit-label="{{ 'admin_user.log.edited'|trans }}"
                         data-edit-bar="{{ action_log_report.barChart.bars[1]|json_encode }}"
                         data-delete-label="{{ 'admin_user.log.deleted'|trans }}"
                         data-delete-bar="{{ action_log_report.barChart.bars[2]|json_encode }}"
                    ></div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'admin_user.log.subject'|trans }}</th>
                                    <th>{{ 'admin_user.log.date'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actionLog in action_log_report.actionLogs|reverse|slice(0, 20) %}
                                    <tr>
                                        <td class="td-truncate">
                                            {% set actionLogSubject = ('admin_user.log.object_class.'~actionLog.objectClass~'.'~actionLog.action)|trans %}
                                            <div class="text-truncate" data-toggle="tooltip" title="{{ actionLogSubject }}">{{ actionLogSubject }}</div>
                                        </td>
                                        <td class="text-nowrap text-muted">{{ actionLog.createdAt|format_datetime('medium', 'short') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="card-body pb-0 border-top-0">
                        <div class="mb-5 text-center text-muted">{{ 'admin_user.log.empty'|trans }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
